---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="About">
	<main>
		<h1>TMC Ravels</h1>
		<h1>Over onze club</h1>
		<h2>Lees hier alles over Taxandria Modelvliegclub Ravels!</h2>

		<p>Dit is een eerste test om de website in astro te bouwen voor de modelvliegclub. Voorlopig ziet het er zeer goed uit</p>
		
		<ul>
			<li><a href="/posts/about/">Over de club</a></li>
			<li><a href="/posts/post2/">2de post</a></li>
			<li><a href="/posts/post3/">3de post</a></li>
		</ul>

	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
