---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="TMC Ravels | Home">
	<main>

		<div class="slideshow" style="max-width:500px">
			<img src="src/content/funcub_wayfarer.jpg" class="mySlides" style="width:100%" alt="funcub_wayfarer">
			<img src="src/content/stermotor.jpg" class="mySlides" style="width:100%" alt="funcub_wayfarer">
			<img src="src/content/djimini2.jpg" class="mySlides" style="width:100%" alt="funcub_wayfarer">
			<img src="src/content/pikachu.jpg" class="mySlides" style="width:100%" alt="funcub_wayfarer">
			<img src="src/content/fpvdrone.jpg" class="mySlides" style="width:100%" alt="funcub_wayfarer">
		</div>
		<script>
			var myIndex = 0;
			carousel();
			
			function plusDivs(n) {
				showDivs(j += n);
			}			
			function carousel() {
			  var i;
			  var x = document.getElementsByClassName("mySlides");
			  for (i = 0; i < x.length; i++) {
				x[i].style.display = "none";  
			  }
			  myIndex++;
			  if (myIndex > x.length) {myIndex = 1}    
			  x[myIndex-1].style.display = "block";  
			  setTimeout(carousel, 5000); // Change image every 2 seconds
			}
			</script>
		
		<h1>Welkom bij TMC Ravels</h1>
		<p class="instructions">
			Via deze site kunnen jullie op de hoogte blijven van alle <strong><a href="/events">activiteiten</a></strong> en worden <br />
			er <strong>foto's</strong> gedeeld. Neem zeker een kijkje op onze <strong>links</strong> pagina <br />
			waar al onze partners worden vermeld..
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/about"
				title="Wie zijn wij"
				body="Ales wat je moet weten over onze club."
			/>
			<Card
				href="/events"
				title="Evenementen"
				body="Ontdek hier al onze evenementen."
			/>
			<Card
				href="/members"
				title="Ledensectie"
				body="Ben je lid of wil je lid worden? Klik dan hier!"
			/>
			<Card
				href="/brevetten"
				title="Brevetten"
				body="Hoe zit dat nu met de brevetten?"
			/>
		</ul>
	</main>
</Layout>

<style>
	
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 100ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 2rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}

</style>