---
// 1. The frontmatter prop gives access to frontmatter and other data
import Layout from './Layout.astro';
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
<html>
  <head>
    <!-- Add other Head elements here, like styles and meta tags. -->

  </head>
  <body>
    <!-- Add other UI components here, like common headers and footers. -->

    <h1>{frontmatter.title} by {frontmatter.author}</h1>
    <!-- 2. Rendered HTML will be passed into the default slot. -->
    <div class="artikel">
    <slot />
  </div>
    <p>Written on: {frontmatter.date}</p>
  </body>
</html>
</Layout>

<style>
.artikel {
  padding: 0rem;
		max-width: 140ch;
		margin: auto;
		position:relative;
}

</style>