---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
		<title>{title}</title>
	</head>
	<body>
		+<a href="/">Home</a>
		+<a href="/about">Wie zijn wij</a>
		+<a href="/events">Kalender</a>
		+<a href="/contact">Contact</a>
		+<a href="/brevetten">Brevetten</a>
		+<a href="/documents">Documenten</a>
		+<a href="/links">Links</a>
		+<a href="/members">Ledensectie</a>

				  
	<slot />
	<footer/>
	<script>
		if (window.netlifyIdentity) {
		  window.netlifyIdentity.on("init", user => {
			if (!user) {
			  window.netlifyIdentity.on("login", () => {
				document.location.href = "/admin/";
			  });
			}
		  });
		}
	  </script>
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
